<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Hệ thống menu</p>
        </div>
    </div>
</mat-card>

<!-- select-top -->
<mat-card class="system-custom">
    <div class="row">
        <div class="col-md-6">

            <!-- Ngôn ngữ -->
            <mat-form-field>
                <mat-label>Ngôn Ngữ:</mat-label>
                <mat-select [(ngModel)]="lang">
                    <mat-option *ngFor="let language of languages" [value]="language.id">
                        {{ language.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-6">

            <!-- Website -->
            <mat-form-field>
                <mat-label>Website:</mat-label>
                <mat-select [(ngModel)]="siteId">
                    <mat-option *ngFor="let website of websites" [value]="website.id">
                        {{ website.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="example-button-row contain-button-filter">
                <button (click)="onFillterClick()"
                    class="mb-2 mr-2 btn-transition btn btn-outline-primary button-filter">Lọc
                </button>
            </div>
        </div>
    </div>
</mat-card>
<!--  end select-top -->

<!-- button crud -->
<mat-card class="button-system-custom title-header-crud">
    <div class="row">
        <div class="col-md-12">
            <a (click)="onInsertClick()" routerLink="/manager/a1-system-menu" class="button-action add">
                <i class="fa fa-fw" aria-hidden="true" title="Thêm mới"></i>
                <span>Thêm mới</span>
            </a>
            <a (click)="onAcceptClick()" routerLink="/manager/a1-system-menu" class="button-action acept">
                <i class="fa fa-fw" aria-hidden="true" title="Duyệt"></i>
                <span>Duyệt</span>
            </a>
            <a (click)="onSortClick()" routerLink="/manager/a1-system-menu" class="button-action sort">
                <i class="fa fa-fw" aria-hidden="true" title="Sắp xếp"></i>
                <span>Sắp xếp</span>
            </a>
            <a (click)="onDeleteClick()" routerLink="/manager/a1-system-menu" class="button-action del">
                <i class="fa fa-fw" aria-hidden="true" title="Xóa"></i>
                <span>Xóa</span>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</mat-card>
<!-- end button crud-->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <!-- STT Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>STT</th>
        <td mat-cell *matCellDef="let element">{{ element.stt}}</td>
    </ng-container>

    <!-- tiêu đề -->
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Tiêu Đề</th>
        <td mat-cell *matCellDef="let element">
            <span *ngIf="element.ptypeid == 0" style="font-weight: 600;">{{element.title}}</span>
            <span *ngIf="element.ptypeid != 0" style="margin-left:10px">{{element.title}}</span>
        </td>
    </ng-container>

    <!-- duyệt -->
    <ng-container matColumnDef="check">
        <th mat-header-cell *matHeaderCellDef>
            Duyệt
        </th>
        <td mat-cell *matCellDef="let element">
            <i *ngIf="element.approved=='1'" class="fa fa-fw icon-acept" aria-hidden="true" title="Đã Duyệt"></i>
        </td>
    </ng-container>

    <!-- sắp xếp img-->
    <ng-container matColumnDef="sort">
        <th mat-header-cell *matHeaderCellDef>
            Sắp Xếp
        </th>
        <td mat-cell *matCellDef="let element">
            <i class="fa fa-fw icon-sort-up" aria-hidden="true" title="Di Chuyển Lên"></i>
            <i class="fa fa-fw icon-sort-down" aria-hidden="true" title="Di Chuyển Xuống"></i>
        </td>
    </ng-container>

    <!-- sắp xếp input-->
    <ng-container matColumnDef="sort-input">
        <th mat-header-cell *matHeaderCellDef>
            Sắp Xếp
        </th>
        <td mat-cell *matCellDef="let element">
            <form class="example-form form-sort">
                <mat-form-field class="example-full-width">
                    <input class="text-center" [value]="element.arrange" matInput
                        (focusout)="onFocusoutArrange(element,$event)" (keypress)="numberOnly($event)" maxlength="11" />
                </mat-form-field>
            </form>
        </td>
    </ng-container>

    <!-- sửa -->
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>
            Sửa
        </th>
        <td mat-cell *matCellDef="let row">
            <i (click)="onUpdateClick(row)" class="fa fa-fw icon-update" aria-hidden="true" title="Sửa"></i>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
</table>
<!-- end table -->

<!-- button crud -->
<mat-card class="button-system-custom button-system-custom-footer">
    <div class="row">
        <div class="col-md-12">
            <a (click)="onInsertClick()" routerLink="/manager/a1-system-menu" class="button-action add">
                <i class="fa fa-fw" aria-hidden="true" title="Thêm mới"></i>
                <span>Thêm mới</span>
            </a>
            <a (click)="onAcceptClick()" routerLink="/manager/a1-system-menu" class="button-action acept">
                <i class="fa fa-fw" aria-hidden="true" title="Duyệt"></i>
                <span>Duyệt</span>
            </a>
            <a (click)="onSortClick()" routerLink="/manager/a1-system-menu" class="button-action sort">
                <i class="fa fa-fw" aria-hidden="true" title="Sắp xếp"></i>
                <span>Sắp xếp</span>
            </a>
            <a (click)="onDeleteClick()" routerLink="/manager/a1-system-menu" class="button-action del">
                <i class="fa fa-fw" aria-hidden="true" title="Xóa"></i>
                <span>Xóa</span>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</mat-card>
<!-- end button crud-->

<mat-paginator class="mb-20 box-shadow" [pageSizeOptions]="[20, 40, 60, 100]" showFirstLastButtons></mat-paginator>

<!-- thêm mới -->
<mat-card *ngIf="insertFlag" class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Thêm mới, cập nhật thông tin</p>
        </div>
    </div>
</mat-card>

<!-- card-add-new -->
<mat-card *ngIf="insertFlag" class="system-custom">
    <div class="row">
        <div class="col-md-8">

            <!-- begin form -->
            <form [formGroup]="form">

                <!-- số thứ tự -->
                <mat-form-field class="example-full-width">
                    <mat-label>Số Thứ Tự <span class="text-red">*</span></mat-label>
                    <input formControlName="arrange" matInput [(ngModel)]="sys_menu.arrange" />
                </mat-form-field>
                <div *ngIf="form.controls['arrange'].invalid && (form.controls['arrange'].dirty || form.controls['arrange'].touched)"
                    class="alert alert-danger form-custom">
                    <div *ngIf="form.controls['arrange'].errors.required">
                        Bạn phải chọn số thứ tự
                    </div>
                    <div *ngIf="form.controls['arrange'].errors.pattern">
                        Bạn chỉ được nhập số
                    </div>
                    <div *ngIf="form.controls['arrange'].errors.maxlength">
                        Bạn không được nhập quá 11 ký tự
                    </div>
                </div>

                <!-- ngôn ngữ -->
                <mat-form-field>
                    <mat-label>Ngôn Ngữ:</mat-label>
                    <mat-select formControlName="lang" [(ngModel)]="sys_menu.lang">
                        <mat-option *ngFor="let language of languages" [value]="language.id">
                            {{ language.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- website -->
                <mat-form-field>
                    <mat-label>Website:<span class="text-red">*</span></mat-label>
                    <mat-select formControlName="siteid" [(ngModel)]="sys_menu.siteid"
                        (selectionChange)="onComboboxWebsiteChange()">
                        <mat-option *ngFor="let website of websites" [value]="website.id">
                            {{ website.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- thể loại cha -->
                <mat-form-field>
                    <mat-label>Thể Loại Cha:</mat-label>
                    <mat-select formControlName="ptypeid" [(ngModel)]="sys_menu.ptypeid">
                        <mat-option *ngFor="let category of categorys" [value]="category.ptypeid"
                            [disabled]="category.ptypeid==0">
                            <span *ngIf="category.ptypeid==0" class="titlecategory-parents">{{ category.title }}</span>
                            <span *ngIf="category.ptypeid!=0" class="titlecategory">{{ category.title }}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- tiêu đề -->
                <mat-form-field class="example-full-width">
                    <mat-label>Tiêu Đề:<span class="text-red">*</span></mat-label>
                    <input formControlName="title" [(ngModel)]="sys_menu.title" matInput
                        placeholder="Nhập tiêu đề..." />
                </mat-form-field>
                <div *ngIf="form.controls['title'].invalid && (form.controls['title'].dirty || form.controls['title'].touched)"
                    class="alert alert-danger form-custom">
                    <div *ngIf="form.controls['title'].errors.required">
                        Bạn phải nhập tiêu đề
                    </div>
                    <div *ngIf="form.controls['title'].errors.maxlength">
                        Tiêu đề không quá 255 ký tự
                    </div>
                </div>

                <!-- Trình Diễn Theo -->
                <mat-form-field>
                    <mat-label>Trình Diễn Theo: <span class="text-red">*</span></mat-label>
                    <mat-select formControlName="keyword" [(ngModel)]="sys_menu.keyword">
                        <mat-option *ngFor="let show of shows" [value]="show.keyword">
                            {{ show.title }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="form.controls['keyword'].invalid && (form.controls['keyword'].dirty || form.controls['keyword'].touched)"
                    class="alert alert-danger form-custom">
                    <div *ngIf="form.controls['keyword'].errors.required">
                        Bạn phải chọn trình diễn theo
                    </div>
                </div>
            </form>
            
            <!-- liên kết -->
            <mat-form-field class="example-full-width">
                <mat-label>Liên Kết</mat-label>
                <input [(ngModel)]="sys_menu.url" matInput placeholder="Nhập liên kết..." />
            </mat-form-field>

            <!-- checkbox -->
            <mat-checkbox [(ngModel)]="sys_menu.approved">Duyệt</mat-checkbox>

            <!-- button update - destroy -->
            <div class="example-button-row text-center">
                <button (click)="onSubmitClick()" class="mb-2 mr-2 btn-transition btn btn-primary button-update">Cập
                    nhật
                </button>
                <button (click)="onCancelClick()" class="mb-2 mr-2 btn-transition btn btn-primary button-destroy">Hủy bỏ
                </button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-right-location">

                <!-- Position -->
                <p>Vị trí:</p>
                <div class="checbox-location">
                    <div>
                        <mat-checkbox [(ngModel)]="menu1">
                            Menu trên
                        </mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox [(ngModel)]="menu2">
                            Menu chính
                        </mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox [(ngModel)]="menu3">
                            Menu dưới
                        </mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox [(ngModel)]="menu4">
                            Menu trái
                        </mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox [(ngModel)]="menu5">
                            Menu phải
                        </mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox [(ngModel)]="menu6">
                            Center Home
                        </mat-checkbox>
                    </div>

                </div>
            </div>
        </div>
    </div>
</mat-card>
<!--  end card-add-new -->