<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Quản trị hỗ trợ trực tuyến</p>
        </div>
    </div>
</mat-card>

<!-- select-top -->
<mat-card class="system-custom">
    <div class="row">
        <div class="col-md-6">

            <!-- Trạng thái -->
            <mat-form-field>
                <mat-label>Trạng Thái:</mat-label>
                <mat-select [(ngModel)]="statusId">
                    <mat-option *ngFor="let statusItem of status" [value]="statusItem.value">
                        {{ statusItem.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-6">

            <!-- Website -->
            <mat-form-field>
                <mat-label>Website:</mat-label>
                <mat-select [(ngModel)]="websiteId">
                    <mat-option *ngFor="let website of websites" [value]="website.id">
                        {{ website.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="example-button-row contain-button-filter">

                <!-- Button Lọc -->
                <button (click)="onFillterClick()"
                    class="mb-2 mr-2 btn-transition btn btn-outline-primary button-filter">Lọc
                </button>
            </div>
        </div>
    </div>
</mat-card>
<!--  end select-top -->

<!-- button crud -->
<mat-card class="button-system-custom title-header-crud">
    <div class="row">
        <div class="col-md-12">
            <a (click)="onInsertClick()" routerLink="/manager/d1-manager-support-online" class="button-action add">
                <i class="fa fa-fw" aria-hidden="true" title="Thêm mới"></i>
                <span>Thêm mới</span>
            </a>
            <a (click)="onAcceptClick()" routerLink="/manager/d1-manager-support-online" class="button-action acept">
                <i class="fa fa-fw" aria-hidden="true" title="Duyệt"></i>
                <span>Duyệt</span>
            </a>
            <a (click)="onArrangeClick()" routerLink="/manager/d1-manager-support-online" class="button-action sort">
                <i class="fa fa-fw" aria-hidden="true" title="Sắp xếp"></i>
                <span>Sắp xếp</span>
            </a>
            <a (click)="onDeleteClick()" routerLink="/manager/d1-manager-support-online" class="button-action del">
                <i class="fa fa-fw" aria-hidden="true" title="Xóa"></i>
                <span>Xóa</span>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</mat-card>
<!-- end button crud-->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef>STT</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- họ tên -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Họ và tên</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- nick name -->
    <ng-container matColumnDef="nick">
        <th mat-header-cell *matHeaderCellDef>Nick Name</th>
        <td mat-cell *matCellDef="let element">{{ element.nick }}</td>
    </ng-container>

    <!-- điện thoại -->
    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Điện thoại</th>
        <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
    </ng-container>
    
    <!-- sắp xếp input-->
    <ng-container matColumnDef="arrange">
        <th mat-header-cell *matHeaderCellDef>
            Sắp Xếp
        </th>
        <td mat-cell *matCellDef="let row">
            <form class="example-form form-sort">
                <mat-form-field class="example-full-width">
                    <input class="text-center" matInput (focusout)="onFocusoutArrange(row,$event)"
                        [value]="row.arrange" (keypress)="numberOnly($event)" maxlength="11"  />                        
                </mat-form-field>
            </form>
        </td>
    </ng-container>

    <!-- duyệt -->
    <ng-container matColumnDef="approved">
        <th mat-header-cell *matHeaderCellDef>
            Duyệt
        </th>
        <td mat-cell *matCellDef="let row">
            <i *ngIf="row.approved==1" class="fa fa-fw icon-acept" aria-hidden="true" title="Đã Duyệt"></i>
        </td>
    </ng-container>

    <!-- sửa -->
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>
            Sửa
        </th>
        <td mat-cell *matCellDef="let row">
            <i (click)="onUpdateClick(row)" class="fa fa-fw icon-update" aria-hidden="true" title="Sửa"></i>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>

</table>

<!-- end table -->

<!-- button crud -->
<mat-card class="button-system-custom title-header-crud">
    <div class="row">
        <div class="col-md-12">
            <a (click)="onInsertClick()" routerLink="/manager/d1-manager-support-online" class="button-action add">
                <i class="fa fa-fw" aria-hidden="true" title="Thêm mới"></i>
                <span>Thêm mới</span>
            </a>
            <a (click)="onAcceptClick()" routerLink="/manager/d1-manager-support-online" class="button-action acept">
                <i class="fa fa-fw" aria-hidden="true" title="Duyệt"></i>
                <span>Duyệt</span>
            </a>
            <a (click)="onArrangeClick()" routerLink="/manager/d1-manager-support-online" class="button-action sort">
                <i class="fa fa-fw" aria-hidden="true" title="Sắp xếp"></i>
                <span>Sắp xếp</span>
            </a>
            <a (click)="onDeleteClick()" routerLink="/manager/d1-manager-support-online" class="button-action del">
                <i class="fa fa-fw" aria-hidden="true" title="Xóa"></i>
                <span>Xóa</span>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</mat-card>

<!-- end button crud-->
<mat-paginator class="mb-20 box-shadow" [pageSizeOptions]="[10, 20, 40, 100]" showFirstLastButtons></mat-paginator>

<!-- thêm mới -->
<mat-card *ngIf="insertFlag" class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <p>Thêm mới, cập nhật thông tin</p>
        </div>
    </div>
</mat-card>

<!-- card-add-new -->
<mat-card *ngIf="insertFlag" class="system-custom">
    <div class="row">
        <div class="col-md-12">

            <!-- begin form -->
            <form [formGroup]="form">

                <!-- số thứ tự -->
                <mat-form-field class="example-full-width">
                    <mat-label>Số Thứ Tự <span class="text-red">*</span></mat-label>
                    <input formControlName="arrange" matInput [(ngModel)]="supportonline.arrange" />
                </mat-form-field>
                <div *ngIf="form.controls['arrange'].invalid && (form.controls['arrange'].dirty || form.controls['arrange'].touched)"
                    class="alert alert-danger form-custom">
                    <div *ngIf="form.controls['arrange'].errors.required">
                        Bạn phải chọn số thứ tự
                    </div>
                    <div *ngIf="form.controls['arrange'].errors.pattern">
                        Bạn chỉ được nhập số
                    </div>
                    <div *ngIf="form.controls['arrange'].errors.maxlength">
                        Bạn không được nhập quá 11 ký tự
                    </div>
                </div>

                <!-- the loại -->
                <mat-form-field>
                    <mat-label>Thể loại:</mat-label>
                    <mat-select formControlName="typeid" [(ngModel)]="supportonline.typeid">
                        <mat-option *ngFor="let typeid of typeids" [value]="typeid.value">
                            {{ typeid.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- website -->
                <mat-form-field>
                    <mat-label>Website <span class="text-red">*</span></mat-label>
                    <mat-select formControlName="siteid" [(ngModel)]="supportonline.siteid">
                        <mat-option *ngFor="let website of NoAllwebsites" [value]="website.id">
                            {{ website.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- Họ và tên -->
                <mat-form-field class="example-full-width">
                    <mat-label>Họ và Tên <span class="text-red">*</span></mat-label>
                    <input formControlName="name" matInput [(ngModel)]="supportonline.name"
                        placeholder="Nhập họ và tên..." />
                </mat-form-field>
                <div *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)"
                    class="alert alert-danger form-custom">
                    <div *ngIf="form.controls['name'].errors.required">
                        Bạn phải nhập Họ và tên
                    </div>
                    <div *ngIf="form.controls['name'].errors.maxlength">
                        Name không quá 250 ký tự
                    </div>
                </div>

                <!-- nick name -->
                <mat-form-field class="example-full-width">
                    <mat-label>Nick Name <span class="text-red">*</span></mat-label>
                    <input formControlName="nick" matInput [(ngModel)]="supportonline.nick"
                        placeholder="Nhập nick name..." />
                </mat-form-field>
                <div *ngIf="form.controls['nick'].invalid && (form.controls['nick'].dirty || form.controls['nick'].touched)"
                    class="alert alert-danger form-custom">
                    <div *ngIf="form.controls['nick'].errors.required">
                        Bạn phải nhập Nick Name
                    </div>
                    <div *ngIf="form.controls['nick'].errors.maxlength">
                        Nick Name không quá 100 ký tự
                    </div>
                </div>

                <!-- điện thoại -->
                <mat-form-field class="example-full-width">
                    <mat-label>Điện Thoại <span class="text-red">*</span></mat-label>
                    <input formControlName="phone" matInput [(ngModel)]="supportonline.phone"
                        placeholder="Nhập số điện thại..." />
                </mat-form-field>
                <div *ngIf="form.controls['phone'].invalid && (form.controls['phone'].dirty || form.controls['phone'].touched)"
                    class="alert alert-danger form-custom">
                    <div *ngIf="form.controls['phone'].errors.required">
                        Bạn phải nhập số điện thoại
                    </div>
                    <div *ngIf="form.controls['phone'].errors.pattern">
                        Bạn phải nhập đúng số điện thoại
                    </div>
                    <div *ngIf="form.controls['phone'].errors.maxlength">
                        Số điện thoại không quá 12 số
                    </div>
                </div>

                <!-- Email -->
                <mat-form-field class="example-full-width">
                    <mat-label>Email <span class="text-red">*</span></mat-label>
                    <input formControlName="note" matInput [(ngModel)]="supportonline.note"
                        placeholder="Nhập email..." />
                </mat-form-field>
                <div *ngIf="form.controls['note'].invalid && (form.controls['note'].dirty || form.controls['note'].touched)"
                    class="alert alert-danger form-custom">
                    <div *ngIf="form.controls['note'].errors.required">
                        Bạn phải nhập email
                    </div>
                    <div *ngIf="form.controls['note'].errors.email">
                        Bạn phải nhập đúng kiểu email
                    </div>
                    <div *ngIf="form.controls['note'].errors.maxlength">
                        Email không quá 250 ký tự
                    </div>
                </div>
            </form>
            <!-- checkbox -->

            <mat-checkbox [(ngModel)]="supportonline.approved">Duyệt</mat-checkbox>

            <!-- button update - destroy -->
            <div class="example-button-row text-center">
                <button (click)="onSubmitClick()" class="mb-2 mr-2 btn-transition btn btn-primary button-update">Cập
                    nhật
                </button>
                <button (click)="onCancelClick()" class="mb-2 mr-2 btn-transition btn btn-primary button-destroy">Hủy bỏ
                </button>
            </div>
        </div>
    </div>
</mat-card>
<!--  end card-add-new -->